.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
.react-calendar-heatmap .color-scale-5 { fill: #1b5e3a; }
.react-calendar-heatmap .color-scale-6 { fill: #18531c; }
.react-calendar-heatmap .color-scale-7 { fill: #123c15; }
.react-calendar-heatmap .color-scale-8 { fill: #124015; }
.react-calendar-heatmap .color-scale-9 { fill: #0e3c0f; }
.react-calendar-heatmap .color-scale-10 { fill: #0c2a0c; }

.react-calendar-heatmap .color-empty{
    fill: #eff2f5;
}
